@page
@model ShareBooks.Web.Pages.Admin.ChangePasswordModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                تغییر کلمه عبور

            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form method="post" asp-page="ChangePassword" class="form-horizontal form-label-left">

                @if (ViewData["Message"] != null)
                {
                    <div class="@ViewData["CssClass"] text-center">
                        @ViewData["Message"]
                    </div>
                }
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">کلمه عبور فعلی : </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" asp-for="ChangePasswordViewModel.OldPassword" class="form-control" required="" placeholder="کلمه عبور فعلی را وارد نمایید">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="ChangePasswordViewModel.OldPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        کلمه عبور جدید :
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" asp-for="ChangePasswordViewModel.Password" required="" class="form-control col-md-7 col-xs-12  " placeholder="کلمه عبور جدید را وارد نمایید">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>

                        <span class="text-danger" asp-validation-for="ChangePasswordViewModel.Password"></span>
                    </div>


                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        تکرار کلمه عبور جدید :
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" asp-for="ChangePasswordViewModel.RePassword" required="" class="form-control col-md-7 col-xs-12" placeholder="تکرار کلمه عبور جدید را وارد نمایید">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        <span class="text-danger"></span>

                        <span class="text-danger" asp-validation-for="ChangePasswordViewModel.RePassword"></span>
                    </div>

                </div>

                <hr />
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                        <button type="submit" class="btn btn-success">ذخیره</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

