@model ShareBooks.Core.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<div class="section-headline-wrap">
    <div class="section-headline">
        <h2> بازیابی کلمه عبور</h2>
        <p><a href="/">صفحه اصلی</a><span class="separator">/</span><span class="current-section">بازیابی کلمه عبور</span></p>
    </div>
</div>

<div class="section-wrap">
    <div class="section demo">

        <div class="form-popup ">

            <!-- FORM POPUP HEADLINE -->
            <div class="form-popup-content">
                <h4 class="popup-title"> بازنشاندن گذرواژه</h4>
                <hr class="line-separator short">
                <p>لطفا ایمیلی که با آن در سایت ثبت نام کرده اید را اینجا وارد نمایید</p>
            </div>


            @if (ViewBag.IsSuccess != null)
            {
                <script>
                    swal("موفق", "ایمیل بازیابی کلمه عبور ارسال شد", "success");

                </script>

            }

            <div class="form-popup-content">
                <form asp-action="ForgotPassword" method="post">

                    <label>ایمیل</label>
                    <input type="text" asp-for="Email" placeholder="ایمیل خود را وارد کنید">
                    <span asp-validation-for="Email"></span>

                    <input type="submit" class="button mid secondary-dark" value="ارسال" />
                </form>
            </div>
            <!-- /FORM POPUP CONTENT -->
        </div>

        <div class="clearfix"></div>
    </div>
</div>








