@model ShareBooks.Core.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "به روز رسانی حساب کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-headline-wrap">
    <div class="section-headline">
        <h2> تغییر کلمه عبور</h2>
        <p><a href="/">صفحه اصلی</a><span class="separator">/</span><span class="current-section">تغییر کلمه عبور</span></p>
    </div>
</div>

<div class="section-wrap">
    <div class="section demo">

        <div class="form-popup ">

            <!-- FORM POPUP HEADLINE -->
            <div class="form-popup-headline primary">
                <h2>کلمه عبور جدید را وارد نمایید</h2>

            </div>
            <!-- /FORM POPUP HEADLINE -->
            <!-- FORM POPUP CONTENT -->
            <div class="form-popup-content">
                <form asp-action="ResetPassword" method="post">
                    <input type="hidden" asp-for="ActiveCode" />

                    <label>کلمه عبور</label>
                    <input type="text" asp-for="Password" placeholder="کلمه عبور خود را وارد کنید">
                    <span asp-validation-for="Password"></span>

                    <label>تکرار کلمه عبور</label>
                    <input type="text" asp-for="RePassword" placeholder="تکرار کلمه عبور خود را وارد کنید">
                    <span asp-validation-for="RePassword"></span>

                    <input type="submit" class="button mid dark" value="ذخیره" />


                </form>
            </div>
            <!-- /FORM POPUP CONTENT -->
        </div>


        <div class="clearfix"></div>
    </div>
</div>

