@page
@using ShareBooks.DataLayer.Entities.Publishers
@model ShareBooks.Web.Pages.Admin.Publishers.CreatePublisherModel
@{
    ViewData["Title"] = "افزودن ناشر";
}

<form enctype="multipart/form-data" method="post">
    <div class="col-md-8 col-sm-8 col-xs-8">

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    افزودن ناشر جدید

                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            عنوان ناشر :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreatePublisherViewModel.PublisherTitle" required="" class="form-control  " placeholder="لطفا عنوان ناشر را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="CreatePublisherViewModel.PublisherTitle" class="text-danger"></span>
                        </div>
                    </div>

                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">

                            <input type="submit" class="btn btn-success" value="ثبت" />
                            <a asp-page="Index" class="btn btn-warning">انصراف</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    تصویر کاربر

                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <img id="imgAvatar" src="/images/publisher/no-photo.png" class="img-thumbnail" />
                <input asp-for="CreatePublisherViewModel.PublisherImageName" type="file" />
            </div>

        </div>
    </div>
</form>


@section Scripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#CreatePublisherViewModel_PublisherImageName").change(function () {
            readURL(this);
        });
    </script>
}