@page "{id}"
@model ShareBooks.Web.Pages.Admin.Publishers.EditPublisherModel
@{
    ViewData["Title"] = "ویرایش ناشر";
}

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Publisher.PublisherImageName" />
    <input type="hidden" asp-for="Publisher.PublisherId" />

    <div class="col-md-8 col-sm-8 col-xs-8">

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    ویرایش ناشر

                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">

                    <div class="item form-group">
                        <label asp-for="Publisher.PublisherTitle" class="control-label col-md-7 ">
                        </label>
                        <div class="col-md-12">
                            <input asp-for="Publisher.PublisherTitle" class="form-control  " placeholder="عنوان ناشر را وارد نمایید" type="text">
                            <span asp-validation-for="Publisher.PublisherTitle" class="text-danger"></span>
                        </div>
                    </div>

                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">

                            <input type="submit" class="btn btn-success" value="ذخیره" />
                            <a asp-page="Index" class="btn btn-warning">انصراف</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">

                    <div class="item form-group">
                        <label class="control-label col-md-7 ">
                            انتخاب تصویر ناشر
                        </label>
                        <img id="imgPublisher" src="/images/publisher/@Model.Publisher.PublisherImageName" class="img-thumbnail" />
                        <input name="imgPublisherUp" id="img_BookUp" type="file" />
                        <hr />
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts
    {
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPublisher').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#img_PublisherUp").change(function () {
            readURL(this);
        });
    </script>
}



