@page
@using ShareBooks.DataLayer.Entities.Users
@model ShareBooks.Web.Pages.Admin.Users.CreateUserModel
@{
    ViewData["Title"] = "افزودن کاربر";
    List<Role> roles = ViewData["Roles"] as List<Role>;

}

<form enctype="multipart/form-data" method="post">
    <div class="col-md-8 col-sm-8 col-xs-8">

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    افزودن کاربر جدید

                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            نام :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreateUserViewModel.FirstName" required="" class="form-control  " placeholder="لطفا نام را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="CreateUserViewModel.FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            نام خانوادگی :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreateUserViewModel.LastName" required="" class="form-control  " placeholder="لطفا نام خانوادگی را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="CreateUserViewModel.LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            ایمیل :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreateUserViewModel.Email" required="" class="form-control  " placeholder="لطفا ایمیل را وارد کنید" type="email">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="CreateUserViewModel.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            شماره موبایل :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreateUserViewModel.Mobile" required="" class="form-control  " placeholder="لطفا شماره موبایل را وارد کنید" type="text">
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="CreateUserViewModel.Mobile" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            کلمه عبور :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreateUserViewModel.Password" required="" class="form-control  " placeholder="لطفا کلمه عبور را وارد کنید">
                            <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="CreateUserViewModel.Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" item form-group">
                        <label class="control-label col-md-7  ">
                            سطح دسترسی :
                        </label>
                        <div class="col-md-8 ">
                            <select name="selectedRoles" class="select2_multiple form-control" multiple="multiple">
                                @foreach (var item in roles)
                                {
                                    <option value="@item.RoleId">@item.RoleTitle</option>
                                }

                            </select>
                        </div>

                    </div>

                    <div class="item  form-group">

                        <div class="col-md-12 col-sm-12 col-xs-12  ">
                            <input asp-for="CreateUserViewModel.IsActive" type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;">
                            &nbsp;
                            <label>فعال / غیر فعال</label>
                        </div>
                    </div>
                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">

                            <input type="submit" class="btn btn-success" value="ثبت" />
                            <a asp-page="Index" class="btn btn-warning">انصراف</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    تصویر کاربر

                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <img id="imgAvatar" src="/UserAvatar/default.png" class="img-thumbnail" />
                <input asp-for="CreateUserViewModel.UserAvatar" type="file" />
            </div>

        </div>
    </div>
</form>

@section Scripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#CreateUserViewModel_UserAvatar").change(function () {
            readURL(this);
        });
    </script>
}
